<!DOCTYPE html>
<html>

<head>
  <title>Login | Whitet</title>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js
    " type="text/javascript"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" href="/images/logo.png">
  <script src="scripts/themes.js" defer></script>
  <script src="scripts/preload.js"></script>
</head>

<body>
  <div class="preloader">
    <img
src="images/logo.png" alt="Preloader Image" class="preloader-image">
</div>
  <div class="navigation-line"><a class="styles__blooketText___1pMBG-camelCase" href="/">Whitet</a><a
      class="styles__headerRight___nPb83-camelCase" href="/stats">Dashbord</a></div>
  <div class="styles__background___2J-JA-camelCase">


    <div class="styles__blooksBackground___3oQ7Y-camelCase" style="background-image: url('/images/ui7.png');  animation: animatedBackground 9s linear infinite;
        -moz-animation: animatedBackground 9s linear infinite;
        -webkit-animation: animatedBackground 9s linear infinite;
        -ms-animation: animatedBackground 9s linear infinite;
        -o-animation: animatedBackground 9s linear infinite;"></div>
  </div>
  <div style="color: black; line-height: 1.5vw; position: absolute;width: 100%;top: 6vw; text-align: center;">
  <b style="font-size: 3vw; font-family: Titan One; font-weight: normal;">TERMS OF SERVICE</b>
  <div style="font-size: 2vw; margin-top: 10px; ">Last Updated 10/15/2024</div>

  <div style="font-size: 1.5vw; margin-bottom: -1vw; font-weight: 600; margin-top: 5vh;">TERMS</div><br>
  <div style="font-size: 1vw; font-weight: 500;">By accessing or using Whitet, you agree to comply with these Terms of Service. If you do not agree, please discontinue using the Platform immediately.</div>
</div>
  <script src="/scripts/login.js"></script>
</body>

</html>